@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=New+Amsterdam&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed, 
    figure, figcaption, footer, header, hgroup, 
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
}
*{
    font-family: "Luckiest Guy", "Open Sanas", sans-serif;
}
body{
    background-image: url(https://lolstatic-a.akamaihd.net/rso-authenticator-ui/0.79.5/assets/riot_desktop_background_2x.jpg);
    font-family: "Roboto";
}
:root{
    --secundary-color:#0202025d;
    --button-color:#DE2D10;
    ----button-hover-color:#f8543b;
    --white:#fff;
    --black:#000;
    --checked:#7bce1d;;
    --checked-bg:#4f8314;
}
h1, h2{
    width: 400px;
    margin: 2rem auto;
    margin-top: 5rem;
    font-size: 3rem;
    border-radius: 9px;
    border: 1px solid var(--black);
    color: var(--white);
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    background: var(--secundary-color);
}
h2{
    margin-top: 5rem;
}
div{
    padding: 0 .1rem 1rem .2rem;
}
input{
    cursor: pointer;
    font-weight: bold;
    border-radius: 9px;
    margin: 0 1rem 0 6rem;
    width: 20px;
    height: 20px;
}
label{
    font-size: 1.5rem;
}
input.value {
    margin-right: 3rem;
    width: 110px;
    height: 40px;
    font-size: 1.5rem;
    padding-left: 1rem;
}
button {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--white);
    cursor: pointer;
    border-radius: 9px;
    border: 3px solid var(--black);
    padding: 10px;
    background: var(--button-color);
}
button:hover, .total-button:hover{
    background: var(----button-hover-color);
    color: var(--black); 
}
ul {
    margin-top: 20px;
}
li {
    padding: 5px 0;
}
input.value::placeholder {
    margin: 1rem;
}
input:checked{
    margin: 0 10px 0 96px ;
    accent-color: var(--checked);
    box-shadow: 0 0 5px 2px var(--secundary-color) ;
}
button.total{
    font-size: 1.5rem;
    padding: 1rem;
    height: 60px;
    display: flex;
    background-color: var(--secundary-color);
}
.total{
    margin-right: 1rem;
    font-size: 1.5rem;
}
.result{
    position: absolute;
    right: 1rem;
    top: 15rem;
}
.descricao{
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin: 0;
    padding: 0;
    margin-top: 1rem;
    width: 100%;
}
.descricao span{
    font-family: "Roboto";
    font-size: 2rem;
    font-weight: 900;
    color: var(--white);
    text-align: center;
    margin: 5rem auto;
    padding: 1rem;
    background: var(--secundary-color) ;
    border: 3px solid var(--black);
    border-radius:9px;
    width: 600px;
}
.descricao p{
    font-weight: 400;
    margin-top: .5rem;
    font-size: 2rem;
}
.title{
    display: flex;
    justify-content: center;
    text-align: center;
    top: 0;
    font-size: 3rem;
    margin-top: 0;
    width: 600px;
}
.alimentos{
    margin-top:1rem ;
}
:checked + label{
    color: var(--checked);
    transition: 1s;
}
.quantity{
    width: 70px;
    height: 40px;
    padding: .5rem;
    font-size: 2rem;
}
.quantity, .value{
    text-align: center;
}
.item-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: .5rem auto;
    padding: 5px 0;
    background: var(--secundary-color);
    border-radius: 9px;
    border: 3px solid var(--black);
    color:var(--white);
    transition: 2s
}
.item-container label {
    flex: 1;
    margin-right: 10px;
}
.item-container button {
    font-size: 1.5rem;
    width: 150px;
    height: 60px;
    flex-shrink: 0;
}
 .container div:has(input:checked) {
    background: var(--checked-bg);
    border-radius: 9px;
    margin-bottom:10px ;
 }
 .container div{
    margin-bottom:10px ;
 }
.container{
    background-color: var(--primary-color);
    margin: 20px auto;
    border-radius: 9px;
}
.share-mensage{
    letter-spacing: 2px;
    color: var(--checked-bg);
    text-align: center;
}
.add-button,.total-button,.share{
    padding: 10px;
    font-size: 1.5rem;
    height: 60px;
}
.add-button{
    margin-left: 10%;
}
.button-delete {
    margin-left: 90px;
}
#inputLimpeza:focus, #inputAlimentos:focus{
    border: 2px solid var(--secundary-color);
}
#inputLimpeza, #inputAlimentos {
    letter-spacing: 1px;
    outline: none;
    border: 3px solid var(--black);
    font-size: 1.5rem;
    min-width: 200px;
    min-height: 50px;
    margin-right: 10px;
    padding: 10px;
}
#inputLimpeza, #inputAlimentos, button{
    margin: 1rem 1rem 1rem 0;
}
#compartilhar, #share-result{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#total-geral{
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 6rem;
}
#result-geral{
    color: var(--checked-bg);
    padding: 1rem;
    margin: 1rem;
    font-size: 1.5rem;
}   
footer{
        text-align: center;
        font-size: 1.4rem;
        font-family: "Roboto";
        padding: 0;
        margin-bottom: 1rem;
}
@media screen and (min-Width:320px) and (max-width:720px) {
    h1,h2{
        width: 100%;
        padding: .5rem 0;
        color: var(--white);
        font-weight: normal;
    }
    h1{
    font-size: 1.5rem;
    }
    h2{
        font-size:1.4rem;
    }
    input{
        font-family: "Roboto";
        font-weight: bold;
        border-radius: 9px;
        width: 20px;
        height: 20px;
        margin: 0 1rem 0 1rem;
    }
    input:checked{
        margin: 0 1rem 0 1rem;
    }
    footer{
        text-align: center;
        font-size: .7rem;
        font-family: "Roboto";
        padding: 0;
    }
    label{
        font-size: .8rem;
    }
    input.value,.quantity{
        margin: .2rem;
        height: 20px;
        max-width: 54px;
        font-size: 1rem;
        padding: 0;
    }
    .total-button {
        margin: auto;
        display: flex;
        height: 100%;
        font-size:1rem ;
        letter-spacing: 1px;
    }
    .item-container{
        width: 100%;
        margin: 0;
    }
    .item-container span{
        font-size: 0;
    }
    
    .title{
        font-size: 2rem;
        width: 80%;
    }
    .item-container button {
        width: 40px;
        height: 40px;
        font-size: .8rem;
        flex-shrink: 0;
    }
    .descricao span {
        margin: .5rem auto;
        width: 80%;
    }
    .container div:has(input:checked) {
        margin-left: 0;
    }
    .add-button{
        font-size: 1rem;
        margin: 0 0 0 .5rem;
    }
    #total-geral{
        flex-direction: column;
    }
    #result-geral{
        font-size: 1rem;
        padding: .2rem;
        text-align: center;
    }
    #inputLimpeza, #inputAlimentos{
        font-size: 1rem;
        outline: none;
        padding: 0;
        min-width: 50%;
        height: 60px;
        max-height: 60px;
    }
}